<div class="dashboard-container">
  <div class="welcome-section">
    <h1>Witaj, {{ authService.getUserFullName() || 'Użytkowniku' }}!</h1>
    <p>Dzisiaj jest {{ currentDate | date:'EEEE, d MMMM yyyy' }}</p>
  </div>
  <div class = "buttons">
  <button class="video-call-button" [routerLink]="['/video']">
     Rozpocznij spotkanie
  </button>
  <button class="video-call-button" [routerLink]="['/video']">
    Dołącz do spotkania
  </button>
  <button class="video-call-button">
    Zaplanuj spotkanie
  </button>
  </div>
</div>
