<div class="video-container">
  <video #localVideo autoplay muted playsinline class="video"></video>
  <video #remoteVideo autoplay playsinline class="video"></video>
</div>

<div class="controls">
  <input type="text" placeholder="Wpisz kod pokoju" [(ngModel)]="roomCode">
  <label><input type="checkbox" [(ngModel)]="isInitiator"> Jestem inicjatorem</label>
  <button (click)="join()">Dołącz</button>
  <button (click)="hangUp()">Rozłącz</button>
  <button (click)="toggleMic()">
    {{ isAudioOn ? 'Wycisz mikrofon' : 'Włącz mikrofon' }}
  </button>

  <button (click)="toggleCamera()">
    {{ isVideoOn ? 'Wyłącz kamerę' : 'Włącz kamerę' }}
  </button>
</div>

