:host {
  /* usuwamy tło z hosta */
  background-color: transparent;
  position: fixed;
  inset: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* przenieśmy tło tutaj */
.video-wrapper {
  position: absolute;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1a2633; /* teraz tło jest pod iframem */
  z-index: 1000;
}

#video-container {
  width: 95vw;
  height: 95vh;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

/* upewniamy się, że każde iframe w video-container wypełnia je w całości */
#video-container iframe {
  width: 100% !important;
  height: 100% !important;
  display: block;
  border: none !important;
}
