/* src/app/components/video-room/video-room.component.css */

:host {
  display: block;        /* aby height:100% działało */
  height: 100%;
}

.video-wrapper {
  width: 100%;
  height: 100%;
  display: flex;         /* opcjonalnie flex, żeby centrować */
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

#video-container {
  width: 100%;
  height: 100%;
  /* usuwamy scroll wewnętrzny */
  overflow: hidden;
}
