<div class="auth-fullscreen-wrapper">
  <div class="auth-box">
    <h1 class="auth-title">Business Assistant</h1>
    <h2 class="auth-form-group">Logowanie</h2>
    <form [formGroup]="loginForm" (ngSubmit)="login()" class="auth-form-group">
      <label>Email</label>
      <input type="email" formControlName="email" />

      <label>Hasło</label>
      <input type="password" formControlName="password" />

      <button type="submit" [disabled]="loginForm.invalid">Zaloguj się</button>
    </form>
    <p *ngIf="errorMessage" class="auth-error">{{ errorMessage }}</p>
    <p class="auth-footer">
      Nie masz konta? <a (click)="navigateToRegister()">Zarejestruj się</a>
    </p>
  </div>
</div>
